.content {
  display: flex;
  padding: 10px 10px 10px 0;

  &__left {
    position: relative;
    width: 80%;
  }

  &__right {
    width: 20%;
  }

  &__loader {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__spin {
    position: absolute;
    top: 50px;
  }
}
