.header {
    min-height: 40px;
    padding: 5px 15px;

    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;

    .avatar {
        float: right;
        margin-left: 10px;

        height: 40px;
        width: 40px;
    }
}

.header__button.header__button {
    float: right;

    margin: 7px 5px;
}
