.header {
    min-height: 70px;

    background: #052433;

    white-space: nowrap;

    display: flex;

    justify-content: space-between;
    align-items: center;

    &__right-column,
    &__left-column {
        display: flex;

        align-items: center;
    }

    &__logo {
        padding: 0 20px 0 30px;

        fill: #17a1e6;

        &:hover {
            fill: #fff;
        }
    }

    &__button&__button {
        margin: 0 7px;
    }

    &__avatar&__avatar {
        height: 40px;
        width: 40px;

        margin: 0 15px 0 10px;
    }
}
