.header {
    min-height: 70px;

    background: #052433;

    white-space: nowrap;

    &__logo {
        padding: 23px 20px 22px 30px;

        fill: #17a1e6;

        &:hover {
            fill: #fff;
        }
    }

    &__button-group {
        float: right;

        margin: 21px 0;
    }

    &__button&__button {
        margin: 0 7px;
    }

    &__avatar&__avatar {
        float: right;

        margin: 14px 10px;

        height: 40px;
        width: 40px;
    }
}
