.header {
    &__breadcrumbs {
        font-size: 18px;

        color: #fff;

        margin-left: 20px;
    }

    &__breadcrumb {
        margin-right: 10px;

        &::before {
            margin-right: 11px;

            content: '/';

            color: rgba(255, 255, 255, .8);
        }

        &:first-child::before {
            display: none;
        }
    }

    &__breadcrumb-link {
        transition: color .3s;

        color: rgba(255, 255, 255, .8);

        &:hover {
            color: #fff;
        }
    }

    @media screen and (max-width: 768px) {
        &__breadcrumbs {
            display: none;
        }
    }
}
