.user {
    &__link {
        display: inline-block;
    }

    &__avatar {
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
    }

    &__username {
        position: relative;
        top: 3px;
        font-size: 24px;
    }
}
