.user__avatar {
    float: left;

    &_size {
        &_m {
            max-width: 40px;
        }

        &_l {
            max-width: 50px;
        }
    }

    margin-right: 12px;

    border: 2px solid #fff;
    border-radius: 50%;
}
