.page {
    margin: 0;
    font: 14px Arial, sans-serif;

    &__content {
        margin: 40px 0;
    }

    &__error-board {
        margin: 40px auto;

        max-width: 900px;
    }

    &__auth-suggest {
        margin: auto;
        max-width: 900px;
    }
}
