.comments {
    position: relative;

    margin: auto;
    padding: 50px 15px;

    max-width: 900px;

    @media screen and (max-width: 768px) {
        padding: 20px 15px;
    }

    &_hidden {
        display: none;
    }

    &__comment {
        margin-bottom: 49px;

        @media screen and (max-width: 768px) {
            margin-bottom: 25px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 49px;
        top: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 16px;
        border-color: transparent;
        border-bottom-color: #f3f2ee;
    }
}
