.comments {
    position: relative;

    margin-top: 20px;
}

.comments::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 100px;

    display: block;

    width: 1px;

    content: '';

    background-color: #e1e1e1;
}

.comments__add-form {
    padding: 30px 0;
    background-color: #fff;
}
