.comments {
    position: relative;

    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    max-width: 900px;

    &__comment {
        margin-bottom: 49px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 49px;
        top: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 16px;
        border-color: transparent;
        border-bottom-color: #f3f2ee;
    }
}
