.comment {
    &__date {
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, .6);
        margin-bottom: 5px;
    }

    &__user {
        margin-bottom: 16px;
    }

    &__send-form {
        display: none;
    }

    .comment__content pre {
        background-color: #e2e1de;
    }

    &__reaction {
        float: right;
    }
}
