.comment {
    margin-top: 20px;
    margin-left: 65px;
    padding: 0 10px 5px;

    &__date {
        font-size: 12px;

        display: inline-block;

        padding: 22px 10px 10px;

        color: #999;
    }

    &__content {
        margin-left: 65px;

        border-bottom: 1px solid #e1e1e1;
    }

    &:last-child {
        background-color: #fff;
    }

    &:last-child &__content {
        border: 0;
    }
}
