.md-body {
    font-size: 16px;

    p {
        margin-top: 0;
        margin-bottom: 14px;

        line-height: 32px;
    }

    img {
        max-width: 100%;
    }

    li {
        line-height: 32px;
    }

    pre {
        background-color: #f7f7f7;
        padding: 10px;
        white-space: pre-wrap;
    }

    a {
        color: #022dad;
        text-decoration: none;
    }
}
