.issue {
    position: relative;
    border-bottom: 1px solid #e1e1e1;

    &:last-child {
        border: 0;
    }

    &__header {
        margin: auto;
        padding-bottom: 30px;
        max-width: 900px;
    }

    &__user {
        margin-bottom: 24px;
    }

    &__footer {
        margin: auto;
        background: #f3f2ee;
        position: relative;
    }

    &__content {
        width: 900px;
        margin: auto;
        margin-bottom: 30px;
    }

    &__header-link {
        color: #000;
    }

    &__comments-button {
        display: block;
        margin-top: 29px;
        padding: 0;

        font-size: 16px;
        line-height: 32px;
        text-decoration: none;
        color: #04b;

        border: none;
        background: none;

        cursor: pointer;
    }

    &__mark-resolved {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }

    &__spinner {
        margin-left: 15px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 14px;

        font-size: 48px;
        line-height: 60px;

        vertical-align: middle;
    }

    &__date {
        margin-bottom: 5px;

        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, .6);
    }

    &__label {
        font-size: 12px;

        display: inline-block;

        margin-right: 10px;
        margin-bottom: 5px;
        padding: 0 5px;

        vertical-align: middle;

        border-radius: 3px;
    }

    &__title-icon {
        width: 16px;

        margin-right: 5px;
    }

    &_state {
        &_closed {
            .issue__icon-resolved {
                display: inline-block;
            }

            .issue__icon-question {
                display: none;
            }
        }

        &_open {
            .issue__icon-resolved {
                display: none;
            }

            .issue__icon-question {
                display: inline-block;
            }
        }
    }
}
