.issue
{
    padding: 20px 15px;

    border-bottom: 1px solid #e1e1e1;
}

.issue:last-child
{
    border: 0;
}

.issue__title
{
    font-size: 22px;
    line-height: 1.4;

    margin-right: 10px;

    vertical-align: middle;
}

.issue__date
{
    font-size: 12px;

    display: inline-block;

    padding: 22px 10px 10px;

    color: #999;
}

.issue__label
{
    font-size: 12px;

    display: inline-block;

    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 5px;

    vertical-align: middle;

    border-radius: 3px;
}

.issue_counts .issue__content
{
    border-bottom: 1px solid #e1e1e1;
}
