.issue__actions {
    .icon {
        opacity: .25;

        &:hover {
            opacity: 1;
        }
    }

    &-controls {
        float: right;

        display: flex;
        justify-content: space-between;
    }

    &_loading {
        .issue__actions-controls {
            display: none;
        }
    }
}
