.issue__actions {
    .icon {
        opacity: 0.25;

        &:hover {
            opacity: 1;
        }
    }

    &-controls {
        display: flex;
        justify-content: space-between;
    }

    &_loading {
        .issue__actions-controls {
            display: none;
        }
    }
}
